body{
    font-family: "Roboto";
}
nav{
    background-color: rgb(29, 29, 29);
    font-family: "Sans-Pro", sans-serif;
    text-transform: uppercase;
}
nav .brand-logo:hover {
    color : rgba(255,255,255,.7);
}
nav ul a {
    font-size: 0.8rem;
    letter-spacing: 4px;
}
nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
    color : rgba(255,255,255,.7);
}
nav li .active {
    background-color: rgba(0, 0, 0, 0);
    color : rgba(255,255,255,.55);
}
nav .links::after{
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background:rgba(255,255,255,.7);
    transition: width .3s;
    margin-top: -1.3rem;
}
nav .links:hover::after {
    width: 100%;
    transition: width .3s;
}
#mobile-links .mobile-nav-logo{
    background-color: rgb(32, 32, 32);
}
#mobile-links .brand-logo{
    margin-left: 30px;
    padding-top: 10px;
    font-family: "Sans-Pro", sans-serif;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
    letter-spacing: 4px;
}

/* Main contents */

#top {
    padding-top:65px;
    margin-top:-65px;
}
.box {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.section p {
    font-size: 16px;
    color: rgba(0,0,0,.8);
    letter-spacing: 1px;
}
.section img{
    width: 50%;
    height: auto;
}
    .git{
        padding-top:15px;
    }
    .wp {
        padding-top: 15px;
    }
    .mtz {
        padding-top: 15px;
    }

.plug{
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 3px; 
}
    .plug h3 {
        padding: 20px 10px 10px 10px;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .plug h4 {
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
    .plug p{
        padding: 5px 5px 15px 5px;  
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
    }
        .date{
            color: rgba(243, 190, 45, 0.63);
        }
        .desc {
            color: rgba(132, 100, 11, 0.78);
            font-size: 18px;
            margin-bottom: 25px;
        }
        .profession {
            color: rgba(243, 190, 45, 0.63);
        }


.article {
    padding: 10px 20px;
    margin: 0px;
}
    .article h3{
        margin-top: 10px;
    }

.presentation {
    height: 700px;
}
    .parallax-container .profil {
        background: #2b2b2b;
    }
    .parallax-container .profil img{
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .parallax-container .defaut img{
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.card .card-image .card-title {
    color: #000;
}
.card .card-action a {
    letter-spacing: 0.5px;
}
.veille h3{
    margin-left: 5%;
    padding-top: 20px;
}
.veille p {
    margin: 26px;
}

.curriculum {
    width: 18rem;
    margin-top:10%;
}
    .curriculum .btn-large {
        background-color: #ffab40 !important;
        padding: 0 20px;
        word-spacing: 0.2rem;
    }

/* Footer */
.page-footer{
    background-color:rgb(32, 32, 32);
}
.page-footer .row{
    margin-bottom: 0px;
}
.github {
    color: white
}
.linkedin{
    color: white;
}
.github:hover {
    color: rgb(0,0,0)
}
.linkedin:hover{
    color: #0077B5;
}
.parallax-container {
    height: 460px;
}
/* Erreur 403 */
.error {
    background-color: #2b2b2b;
}
.error .erreur403 {
    margin-left: 1%;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
/* DashBoard */
.connect {
    background-color: #363636;
}
#login {
    width: 320px;
    padding: 15% 0 0;
    margin: auto;
}
.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 10px;
    background: rgb(236, 236, 236);
}
.login .btn {
    background-color: #ffab40;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ffab40;
    -webkit-box-shadow: 0 1px 0 0 #ffab40;
    box-shadow: 0 1px 0 0 #ffab40;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #ffab40;
}


@media only screen and (min-width: 319px) and (max-width: 374px){
    .presentation {
        height: 150px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    .presentation {
        height: 180px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 450px){
    .presentation {
        height: 200px;
    }
}
@media only screen and (min-width: 449px) and (max-width: 550px){
    .presentation {
        height: 220px;
    }
}
@media only screen and (min-width: 549px) and (max-width: 650px){
    .presentation {
        height: 280px;
    }
}
@media only screen and (min-width: 649px) and (max-width: 750px){
    .presentation {
        height: 320px;
    }
}
@media only screen and (min-width: 749px) and (max-width: 850px){
    .presentation {
        height: 380px;
    }
}
@media only screen and (min-width: 849px) and (max-width: 950px){
    .presentation {
        height: 420px;
    }
}
@media only screen and (min-width: 949px) and (max-width: 1050px){
    .presentation {
        height: 480px;
    }
}
@media only screen and (min-width: 1049px) and (max-width: 1150px){
    .presentation {
        height: 500px;
    }
}
@media only screen and (min-width: 1149px) and (max-width: 1250px){
    .presentation {
        height: 600px;
    }
}
@media only screen and (min-width: 1249px) and (max-width: 1350px){
    .presentation {
        height: 650px;
    }
}
@media only screen and (min-width: 1349px) and (max-width: 1500px){
    .presentation {
        height: 700px;
    }
}
@media only screen and (min-width: 1501px) and (max-width: 1600px){
    .presentation {
        height: 750px;
    }
}
@media only screen and (min-width: 1601px) and (max-width: 1700px){
    .presentation {
        height: 800px;
    }
}
@media only screen and (min-width: 1701px) and (max-width: 1800px){
    .presentation {
        height: 850px;
    }
}
@media only screen and (min-width: 1801px) and (max-width: 2000px){
    .presentation {
        height: 900px;
    }
}
@media only screen and (min-width: 2001px) and (max-width: 2200px){
    .presentation {
        height: 1100px;
    }
}
@media only screen and (min-width: 2201px) and (max-width: 2400px){
    .presentation {
        height: 1200px;
    }
}
@media only screen and (min-width: 2401px) and (max-width: 2600px){
    .presentation {
        height: 1300px;
    }
}
@media only screen and (min-width: 993px){
    nav .container {
        width: 83%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px){
    .parallax-container {
        height: 160px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    .parallax-container {
        height: 180px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 469px){
    .parallax-container {
        height: 210px;
    }
}
@media only screen and (min-width: 470px) and (max-width: 619px){
    .parallax-container {
        height: 250px;
    }
}
@media only screen and (min-width: 620px) and (max-width: 767px){
    .parallax-container {
        height: 350px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .parallax-container {
        height: 420px;
    }
}
@media only screen and (max-width: 355px){
    #login {
        width: auto;
    }
}

@media only screen and (max-width: 749px){
    .box span {
        width: 10px;
        height: 10px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1050px){
    .box span {
        width: 15px;
        height: 15px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}
@media only screen and (min-width: 1049px) and (max-width:  1250px){
    .box span {
        width: 20px;
        height: 20px;
    }
}
